/*Global Styles */

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	background-color: hsl(257, 40%, 49%);
}

img {
	display: block;
	max-width: 100%;
}


h1, h2 {
	font-family: 'Poppins', sans-serif;
}

h1 {
	color: #ffffff;
	line-height: 1.4;
	text-align: center;

}

h2 {
	font-size: 1.4rem;
	font-weight: 400;
}

p {
	font-size: 1.6rem;
	color: #ffffff;
	text-align: center;
	line-height: 1.8;
}

button {
	border: none;
	margin: 0 6rem;
	border-radius: 50px;
	background-color: #ffffff;
	color: hsl(257, 40%, 49%);
	padding: .5rem  10rem;
	-webkit-box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.75);
}

button:hover {
	cursor: pointer;
}

.attribution {
      color: white;
      font-size: 11px;
      text-align: center;
    }
    .attribution a {
      color: inherit;
    }


/*Custom Styles -- Mobile First */

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}



header {
	background-image: url(../images/bg-mobile.svg);
	background-size: cover;
	background-position: center;
	
}

.logo-container {
	margin: 2rem 0;
	padding: 4rem 0;
}

.logo {
	width: 40%;
	padding-left: 3rem;
}

.hero {
	margin: 7rem 0;
}

.illustration {
	width: 85%;
	margin: 0 6rem;
	
}

.content {
	max-width: 375px;
	justify-content: center;
	align-items: center;
	
}


.social-media {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
}

.social-media a {
	text-decoration: none;
	color: #ffffff;
	margin-right: 2rem;
}

.social-media i {
	border: 1px solid white;
	border-radius: 50px;
	font-size: 1.5rem;
	align-items: center;
	padding: 1rem;
}

/*Custom Styles -- Desktop Layout */
@media screen and (min-width: 768px) {

	body {
		background-image: url(../images/bg-desktop.svg);
		background-position: fixed;
		background-size: contain;
		background-repeat: no-repeat;
	}

	header {
		background-image: none;
	}

	.container {
		flex-direction: row;
		justify-content: space-evenly;
	}

	.logo-container {
	margin-top: 3rem;
	padding: 1rem;
}

	.logo {
		width: 30%;
		padding: 0;
	}

	

	.illustration {
		width: 100%;
		padding: 2rem;
		margin-top: 13rem;
	}

	h1 , p {
		text-align: left;
	}
	
	.content {
	max-width: 500px;
	}

	button {
		margin: 0;
		padding: .5rem 7rem;
	}

	.social-media {
		justify-content: flex-end;
		margin-right: 4rem;
	}

	.social-media i {
		font-size: 2rem;
	}	
}